.Control-container {
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
}
.Control-light {
  height: 10vh;
  background-color: #efefef;
  margin-bottom: 1em;
}
.Control-container label {
  text-align: center;
  display: block;
  padding: 0 1em;
}

.Slider {
  width: 100%;
  margin: 2em 0;
}

.Control-themeButton {
  padding: 1em;
}
